*~
*pyc
.ipynb_checkpoints
figures/
files/*txt
scripts/output/
scripts/archive/
new_network/*html
new_network/spw_network_nb_brian2.py
new_network/output/
optimization/checkpoints/*pkl
optimization/Mishra_2016


